@{
    Layout="_LoginLayout";
}

<section class="main-contain bg-white">
                <div class="container">
    <div class="login-area">
                    

                    <div class="tab-content">
                        
                        <div id="login" class="tab-pane fade in active">
                            <div class="login-inner">
                                  <div class="title">
                                    <h1>Welcome to <span>Login</span></h1>
                                </div>
                                <div class="login-form">
                                    <form>
                                        <div class="form-details">
                                            <label class="user">
                                                <input type="text" name="username" placeholder="Username" id="username" value="Admin" readonly>
                                            </label>
                                            <label class="pass">
                                                <input type="password" name="passsword" placeholder="Password" id="password">
                                            </label>
                                        </div>
                                        <button type="submit" class="form-btn" onsubmit="">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
                </div>
            </section>