<!DOCTYPE html>
<html>
<head>
    <title>Mira Cake House</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fstore Bootstrap HTML5 eCommerce Template">
    <meta name="author" content="Craftdzine">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--  STYLE -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- ANIMATE -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- MAGNIFIC POPUP -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- FLEXSLIDER -->
    <link rel="stylesheet" href="/plugins/FlexSlider/jquery.flexslider.css">
    <!--  OWL CAROUSEL -->
    <link rel="stylesheet" href="/plugins/owl-carousel/owl.carousel.css">
    <!-- OWL CAROUSEL THEME -->
    <link rel="stylesheet" href="/plugins/owl-carousel/owl.theme.css">
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <!-- slick-theme -->
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">

    <!-- WEB FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
</head>
<body>

    <div class="wrapper">

        <!-- Header -->
        <div class="header header-static">
            <!-- Topbar -->
            <div class="topbar">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Topbar Navigation -->
                            <ul class="topbar-left">
                                
                            </ul><!--topbar-left-->
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline topbar-right pull-right">
                                <li><a href="#">Account</a></li>
                                <li><a href="#">Wishlist (0)</a></li>
                                <li><a href="login-register.html">Login</a> | <a href="login-register.html">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--container-->
            </div>
            <!-- End Topbar -->

           
        </div>
        <!-- End Header-->


        @RenderBody()
           

    </div>

    
    <!-- JQUERY LIBS -->
    <script type="text/javascript"  src="/js/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- OWL CAROUSEL -->
    <script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- FLEXSLIDER -->
    <script type="text/javascript" src="/plugins/FlexSlider/jquery.flexslider-min.js"></script>
    <!-- MAGNIFIC POPUP-->
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <!-- MAGNIFIC POPUP  -->
    <script type="text/javascript" src="/js/magnific-popup.min.js"></script>
    <!-- slick-->
    <script type="text/javascript" src="/js/slick.js"></script>
    <!-- slick-slider-->
    <script type="text/javascript" src="/js/slick-slider.js"></script>
    <!-- plugins-->
    <script type="text/javascript" src="/js/plugins.min.js"></script>
    <!-- CUSTOM-->
    <script type="text/javascript" src="/js/custom.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
